.link {
  margin: 0px;
  line-height: 1.35714;
  font-size: 14px;
  font-weight: 400;
  color: rgb(104, 112, 118);
}
.icon {
  color: rgb(104, 112, 118);
  font-size: 16px;
  padding-top: 3px;
  margin: 0 3px;
}
.text {
  margin: 0px;
  line-height: 1.35714;
  font-size: 14px;
  font-weight: 400;
  color: rgb(5, 7, 8);
}
