body {
  line-height: 1.5;
  text-rendering: optimizespeed;
  overflow-y: overlay;
  font-family: 'SVN-Sofia Pro Regular', 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
